body {
    margin: 0;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    background: #15151F;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

html,body{
    height:100%;
    width:100%;
}

legend {
    text-align: left;
    color: whitesmoke;
    padding: 0 8px;
    background: #15151F;
}

.avatar {
    width: 150px;
    height: 200px;
    background-image: url('images/image1.jpg');
    background-size: cover;
}

.avatar:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    background-image: url('images/image.jpg');
}

.btn-ctn {
  display: flex;
  justify-content: space-evenly;
}

.img-btn{
  width: 40px;     
  text-decoration: none;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
